.button {
    height: 50px;
    font-size: .6rem;
    font-weight: 700;
    margin: auto;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    align-items: center;
    display: flex;
}

.button img {
    width: 24px;
    margin-right: 25px;
}

.button p {
    font-size: 1rem;
}

.button:hover {
    background-color: gray;
}