@font-face {
  font-family: 'FredokaOne';
  src: local('FredokaOne'), url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LilitaOne';
  src: local('LilitaOne'), url('./fonts/LilitaOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'FredokaOne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5C415D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

